.images-list{
	width: 85vw;
	margin:0 auto;
	column-count: 1;

	@media screen and (min-width: 796px){
		column-count: 2;
	}
	
	@media screen and (min-width: 992px){
		column-count: 3;
	}

	

	.image-container{
		break-inside: avoid;
		margin-bottom: 10px;
		overflow: hidden;
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		
		img{
			transition: transform 350ms ease-in-out;
			width: 100%;
		}
	}
}


.no-data{
	color: #fff;
	text-align: center;
}