*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background:#212121;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.logo{
	color: #fff;
}

.weather-app{
	position: relative;
	text-align: center;
	height: 100vh;


	.container{
		margin-top: 20px;
		padding-bottom: 100px;
		position: absolute;
		width: 100%;

		form{
			input, button {
				outline: none;
				font-size: 18px;
				color: #fff;
				margin: 5px 5px;
			}

			input{
				background: none;
				border: 2px solid #fff;
				border-radius: 15px;
				padding: 10px;
			}

			button{
				background:#A52277;
				padding: 14px 20px;
				border-radius: 15px;
				border:none;
			}

			@media screen and (min-width: 768px){
				input, button{
					margin:0 5px;
				}

				input{
					padding: 10px 15px;
				}
			}
		}

		.display-data{
			.top{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 10px;
				.logo{
					padding: 15px 10px 0;
					width: 100px;
				}

				.description{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-top: 20px;
					.location{
						font-size: 18px;
						font-weight: bold;
						margin-bottom: 5px;
					}
					.time{
						font-size: 17px;
					}
				}
			}

			.bottom{
				h1.temp{
					font-size:75px;
					margin: 10px 0;
					font-weight: 600;
				}
				p{
					font-size: 18px;
				}
			}

			@media screen and (min-width: 500px){
				.top{
					margin-top: 50px;
				}

				.bottom{
					h1.temp{
						font-size:180px;
					}
				}
			}
		}
	}
}


.error, .loading{
	margin-top: 80px;
}
