.form-field{
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 30px;
	color: #fff;
	form{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		input{
			padding: 15px 10px;
			max-width: 200px;
			margin: 0 auto;
			font-size: 18px;
			outline: none;
			border: 2px solid #fff;
			background: none;
			border-radius: 20px;
			color: #fff;
			font-size: 20px;
		}

		button{
			max-width: 200px;
			margin: 30px auto 0;
			font-size: 18px;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 18px;
			background: #32B9AE;
			text-transform: uppercase;
			padding: 10px 20px;
			border-radius: 20px;
			&:hover{
				background:#fff;
			}
		}
	}

	button.find-another-images{
		display: block;
		margin: 30px auto;
		padding: 10px 20px;
		outline: none;
		border: none;
		cursor: pointer;
		font-size: 18px;
		background: #32B9AE;
		text-transform: uppercase;
		border-radius: 20px;
	
		&:hover{
			background:#fff;
		}
	}
}